@media (max-width: 600px) {

    h1 {
        font-size: 35px;
        text-align: center;
        font-weight: 700;
    }

    main {
        flex-direction: column;
        justify-content: space-around;
        margin: 0 20%;
    }

    main img {
        margin-bottom: 30px;
    }
}