body {
    background-color: #effabf;
    color: #7ab08e;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    padding: 50px 0;
}

.caixa-contador {
    background-color: #7ab08e;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 20px 20px 100px;
    text-align: center;
}
  
.contador {
    color: #effabf;
    font-size: 4em;
}

main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px
}

li {
    backface-visibility: hidden;
    position: relative;
    margin: 0 80px 220px 80px;
}

main img {
    height: 120px;
    width: 120px;
    padding: 30px 0;
    background-color: #A7E9AF;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    flex-shrink: 0;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    position: absolute;
    left: -80px;
}

.verso {
    transform: rotateY(180deg);
}

@media (max-width: 600px) {

    h1 {
        font-size: 35px;
        text-align: center;
        font-weight: 700;
    }

    main {
        flex-direction: column;
        justify-content: space-around;
        margin: 0 20%;
    }

    main img {
        margin-bottom: 30px;
    }
}